{
  "openapi": "3.0.0",
  "info": {
    "title": "YeGoBox Api",
    "description": "A Simple minimalistic api for yegobox",
    "contact": {
      "email": "info@yegobox.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://yegobox.rw",
      "description": "API SERVER"
    },
    {
      "url": "https://yegobox.rw/api",
      "description": "Api"
    }
  ],
  "paths": {
    "/create-db": {
      "post": {
        "tags": [
          "DB"
        ],
        "summary": "Add new Database",
        "operationId": "addDb",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "ID of pet to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "db_user_id",
            "in": "path",
            "description": "user id of database owner",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "name",
            "in": "path",
            "description": "name of Databasee",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "db_auth": [
              "write:db",
              "read:db"
            ]
          }
        ]
      }
    },
    "/create-hosting": {
      "post": {
        "tags": [
          "DB"
        ],
        "summary": "Add new Database",
        "operationId": "addDb",
        "parameters": [
          {
            "name": "folder_id",
            "in": "path",
            "description": "ID of pet to update",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "domain",
            "in": "path",
            "description": "Sudomain or domain name",
            "required": true,
            "schema": {
              "type": "string",
              "example": "example.com"
            }
          },
          {
            "name": "app_language",
            "in": "path",
            "description": "Application language",
            "required": true,
            "schema": {
              "type": "string",
              "example": "cssHtml"
            }
          },
          {
            "name": "package_type",
            "in": "path",
            "description": "A package to assign to your hosting",
            "required": true,
            "schema": {
              "type": "string",
              "example": "free"
            }
          },
          {
            "name": "period",
            "in": "path",
            "description": "A package to assign to your hosting",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          },
          {
            "name": "package_size",
            "in": "path",
            "description": "A package size",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 1
            }
          }
        ],
        "responses": {
          "422": {
            "description": "Invalid input"
          }
        },
        "security": [
          {
            "db_auth": [
              "write:db",
              "read:db"
            ]
          }
        ]
      }
    },
    "/entries": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get list of files",
        "description": "Returns list of files",
        "operationId": "getUserFiles",
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_key_security_example": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Email": {
        "description": "User email address",
        "type": "string",
        "format": "test",
        "example": "john.smith@example.com"
      },
      "User": {
        "type": "object",
        "properties": {
          "username": {
            "description": "User supplied username",
            "type": "string",
            "minLength": 4,
            "example": "John78"
          },
          "firstName": {
            "description": "User first name",
            "type": "string",
            "minLength": 1,
            "example": "John"
          },
          "lastName": {
            "description": "User last name",
            "type": "string",
            "minLength": 1,
            "example": "Smith"
          },
          "email": {
            "$ref": "#/components/schemas/Email"
          }
        }
      }
    },
    "headers": {
      "ExpiresAfter": {
        "description": "date in UTC when token expires",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "in": "header",
        "name": "api_key"
      },
      "basic_auth": {
        "type": "http",
        "scheme": "basic"
      },
      "main_auth": {
        "type": "oauth2",
        "flows": {
          "implicit": {
            "authorizationUrl": "http://example.com/api/oauth/dialog",
            "scopes": {
              "read:users": "read users info",
              "write:users": "modify or remove users"
            }
          }
        }
      }
    }
  }
}
